@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&&display=swap');

.App {
  text-align: center;
}

.buildResumeButton {
  background-image: linear-gradient(180deg, rgb(23, 162, 197), rgb(72, 147, 209) 40%, rgb(54, 185, 224));
  padding: 15px 32px;
  text-align: center;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgb(46, 231, 255);
  border-radius:20px;
  width: 300px;
  height: 75px;
  font-size: 25px;
  position: static;
  font-family: Georgia;
  
  
}
.Position-Static{
  position:sticky;
 left:auto;
 transform: matrix(-50%,-50%);
}
.gapsDiv {
  
  margin: 30px;
  padding: 30px;
}

.Times-font{
  font-family:"Times New Roman"
}

.Icon-allign{
  float: left
}
.padding{
  padding: 1em
}

.footer {
  position:static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(185, 219, 223);
  color: rgb(8, 7, 7);
  
  text-align: left;
}
.Welcome-head{
  font-size: 80px;
}

/*navbar*/

.navbar-first {
  margin-left: auto;
  width: 40%;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  
}

/* Navbar links */
.navbar-first a {
  float: right;
  text-align: center;
  padding: 1px;
  color: rgb(24, 1, 1);
  text-decoration: underline;
  font-size: 17px;
  font-weight: bold;
}

/* Navbar links on mouse-over */
.navbar-first a:hover {
  background-color: rgb(83, 193, 236);
}

/* Current/active navbar link */
.active-first {
  background-color: #8ebad8;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
/* @media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
} */

/* Build CSS */
.nav-build {
  display: flex;
  height: 10vh;
  background-color: #212121;
  padding: 24px 50px;
  font-size: 20px;
}
.nav-li {
  display: inline;
  list-style: none;
  margin-right: 80px;
}
.nav-head {
  margin-right: 1000px;
}

.nav-a {
  color: white;
  text-decoration: none;
}
.container-build {
  background-color: #EEEEEE;
  padding: 20px 50px;
}
.card {
  height : 1000px;
  border : black solid 2px;
  width: 50vw;
}
.card-header {
  background-color: #506D84;
  color: #F7F6F2;
  padding: 50px 60px 20px;
}
.card-details {
  padding: 50px 60px 60px;
}
.sec-partition {
  border: 1px solid;
  margin: 1px;
}

.template-heading {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.0rem;
  margin: 1px;
  font-weight: 800;
  text-align: left;
}
.main-heading {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 20px;
}
.person-profile {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}
.id-link{
  margin-right: 20px;
}
@media screen and (max-width: 1500px) {
  .nav-build{
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    /* align-items: center; */
  
  }
  .nav-head {
    margin-right: 70px;
  }
  .nav-li {
    display: block;
  }
}